<form action="/Test/" enctype="multipart/form-data" method="POST" id="myform" onsubmit="ShowLoading()">{% csrf_token %}
    <h1>Welcome to the Validator</h1>
    <h3>Snowflake Authentication</h3>
    {{ form.as_p }}
    <div>
        <input  type="submit" name="submit" class="register" value="Submit">
    </div>
    <script type="text/javascript">
        function ShowLoading(e) {
            var div = document.createElement('div');
            var img = document.createElement('img');
            img.src = 'loading_bar.GIF';
            div.innerHTML = "Loading...<br />";
            div.style.cssText = 'position: fixed; top: 5%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #EDDBB0; border: 1px solid #000';
            div.appendChild(img);
            document.body.appendChild(div);
            return true;
            // These 2 lines cancel form submission, so only use if needed.
            //window.event.cancelBubble = true;
            //e.stopPropagation();
        }
    </script>
</form>